In [2]:
import numpy as np

# Sum, Min, Max, Mean, Cumsum

## Sum
* By defaul, sum returns the total of the whole 2d array
* By axis control, sum of the column (axis = 0) or sum of the row (axis = 1) can be get
* keepdims will return the answer in same dimensional array

In [3]:
monthly_sales = np.array([[ 4134, 23925,  8657],
                        [ 4116, 23875,  9142],
                        [ 4673, 27197, 10645],
                        [ 4580, 25637, 10456],
                        [ 5109, 27995, 11299],
                        [ 5011, 27419, 10625],
                        [ 5245, 27305, 10630],
                        [ 5270, 27760, 11550],
                        [ 4680, 24988,  9762],
                        [ 4913, 25802, 10456],
                        [ 5312, 25405, 13401],
                        [ 6630, 27797, 18403]])

In [5]:
monthly_industry_sales = monthly_sales.sum(axis=1, keepdims=True)
monthly_industry_sales

array([[36716],
       [37133],
       [42515],
       [40673],
       [44403],
       [43055],
       [43180],
       [44580],
       [39430],
       [41171],
       [44118],
       [52830]])

In [7]:
# adding the sum as a new column in the 2d array
monthly_sales_with_total = np.concatenate((monthly_sales, monthly_industry_sales), axis=1)
monthly_sales_with_total

array([[ 4134, 23925,  8657, 36716],
       [ 4116, 23875,  9142, 37133],
       [ 4673, 27197, 10645, 42515],
       [ 4580, 25637, 10456, 40673],
       [ 5109, 27995, 11299, 44403],
       [ 5011, 27419, 10625, 43055],
       [ 5245, 27305, 10630, 43180],
       [ 5270, 27760, 11550, 44580],
       [ 4680, 24988,  9762, 39430],
       [ 4913, 25802, 10456, 41171],
       [ 5312, 25405, 13401, 44118],
       [ 6630, 27797, 18403, 52830]])

In [9]:
avg_monthly_sales = monthly_sales.mean(axis=1)
avg_monthly_sales

array([12238.66666667, 12377.66666667, 14171.66666667, 13557.66666667,
       14801.        , 14351.66666667, 14393.33333333, 14860.        ,
       13143.33333333, 13723.66666667, 14706.        , 17610.        ])

# Finding the min of the array

In [4]:
monthly_sales.min()

np.int64(4116)

## Finding the min of the column

In [5]:
monthly_sales.min(axis = 0)

array([ 4116, 23875,  8657])

## Finding the min of the row

In [7]:
monthly_sales.min(axis = 1, keepdims = True)

array([[4134],
       [4116],
       [4673],
       [4580],
       [5109],
       [5011],
       [5245],
       [5270],
       [4680],
       [4913],
       [5312],
       [6630]])

# Finding the max of the array

In [8]:
monthly_sales.max()

np.int64(27995)

## Finding the max of the column

In [9]:
monthly_sales.max(axis = 0)

array([ 6630, 27995, 18403])

## Finding the max of the row

In [10]:
monthly_sales.min(axis = 1, keepdims = True)

array([[4134],
       [4116],
       [4673],
       [4580],
       [5109],
       [5011],
       [5245],
       [5270],
       [4680],
       [4913],
       [5312],
       [6630]])

# Cumsum applied on whole array

In [12]:
monthly_sales.cumsum()

array([  4134,  28059,  36716,  40832,  64707,  73849,  78522, 105719,
       116364, 120944, 146581, 157037, 162146, 190141, 201440, 206451,
       233870, 244495, 249740, 277045, 287675, 292945, 320705, 332255,
       336935, 361923, 371685, 376598, 402400, 412856, 418168, 443573,
       456974, 463604, 491401, 509804])

## Cumsum applied on column axis

In [17]:
monthly_sales.cumsum(axis = 0)

array([[  4134,  23925,   8657],
       [  8250,  47800,  17799],
       [ 12923,  74997,  28444],
       [ 17503, 100634,  38900],
       [ 22612, 128629,  50199],
       [ 27623, 156048,  60824],
       [ 32868, 183353,  71454],
       [ 38138, 211113,  83004],
       [ 42818, 236101,  92766],
       [ 47731, 261903, 103222],
       [ 53043, 287308, 116623],
       [ 59673, 315105, 135026]])

## Cumsum applied on row axis

In [18]:
monthly_sales.cumsum(axis = 1)

array([[ 4134, 28059, 36716],
       [ 4116, 27991, 37133],
       [ 4673, 31870, 42515],
       [ 4580, 30217, 40673],
       [ 5109, 33104, 44403],
       [ 5011, 32430, 43055],
       [ 5245, 32550, 43180],
       [ 5270, 33030, 44580],
       [ 4680, 29668, 39430],
       [ 4913, 30715, 41171],
       [ 5312, 30717, 44118],
       [ 6630, 34427, 52830]])