In [1]:
import pandas as pd

In [11]:
cars = pd.read_csv('cars.csv', index_col = 0)

In [4]:
cars.loc[['AUS','EG']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [6]:
cars.iloc[[1]]

     cars_per_cap    country  drives_right
AUS           731  Australia         False

## Selecting both rows and column

In [7]:
cars.loc[['RU', 'MOR'], ['country', 'drives_right']]

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [10]:
print(cars.loc[:,'drives_right'])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool