In [1]:
import pandas as pd

# Filtering COLUMN data from the table
* this way data type and column name is returned at the bottom

In [3]:
cars = pd.read_csv('cars.csv', index_col = 0)

In [4]:
print(cars['country'])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

## Disabling the Name and dtype of the table
* Just wrapping the selecting marker with another sets of [] will do the work

In [10]:
print(cars[['country']])

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

## Selecting multiple Column data without Name and dtype

In [8]:
print(cars[['country','drives_right']])

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True