# Pandas for tabular data structure

In [1]:
import pandas as pd

In [2]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [3]:
my_dict={'country': names, 'drives_right': dr, 'car_per_cap': cpc}
my_dict

{'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True],
 'car_per_cap': [809, 731, 588, 18, 200, 70, 45]}

In [4]:
cars = pd.DataFrame(my_dict)
cars

         country  drives_right  car_per_cap
0  United States          True          809
1      Australia         False          731
2          Japan         False          588
3          India         False           18
4         Russia          True          200
5        Morocco          True           70
6          Egypt          True           45

## Set a custom index

In [5]:
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

In [7]:
cars.index = row_labels
cars

           country  drives_right  car_per_cap
US   United States          True          809
AUS      Australia         False          731
JPN          Japan         False          588
IN           India         False           18
RU          Russia          True          200
MOR        Morocco          True           70
EG           Egypt          True           45